body {
	background-color: #f5f5f5;
	color: #222;
	font-family: Helvetica, sans-serif;
	font-size: 11pt;
}

/* SPLIT LAYOUT */
html, body, #social, #game {
	height: 100%;
	padding: 0;
}
body {
	float: right;
	margin: 0 0 0 50%;
	width: 50%;
}
#social {
	float: left;
	margin: 0 0 0 -100%;
	width: 100%;
}
#social ul, #game {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
}
#social ul {
	height: 92%;
	padding: 0.1em;
}
#system {
	padding: 0.5em;
	position: absolute;
	top: 0;
	right: 0;
}


/* GAME SIDE */
b {
	color: black;
}
h1 {
	font-size: 16pt;
	margin: 0;
	padding: 0.2em;
}
table, tr, td {
	border: 0;
	vertical-align: top;
}
#user li {
	background-color: white;
	border: 1px solid #eee;
	border-radius: 3px;
	display: inline-block;
	list-style: none;
	padding: 0.5em 1em;
	margin: 0.5em;
}
table em {
	color: #067;
}
.mutable .target {
	cursor: pointer;
}
a.act {
	border: 1px solid #ccc;
	border-radius: 3px;
	display: inline-block;
	padding: 0 0.2em;
	margin: 0 0.5em;
	text-decoration: none;
}
.attr-spirit, .attr-favor, .attr-stress {
	color: blue;
}
.expanded, .admin {
	padding-left: 1em;
}

/* LOG SIDE */
time {
	color: #ddd;
}
#social ul {
	background: white;
}
#social #ooc {
	background-image: url('oocback.png');
}
#social li {
	list-style: none;
	display: block;
	text-indent: -3em;
	margin-left: 3em;
	margin-bottom: 0.2em;
}
#social em {
	color: gray;
	font-style: normal;
}
#social {
	position: relative;
}
#social input {
	width: 99%;
	border: solid 1px #ccc;
	margin-bottom: 0;
}
#unseenMessageHint {
	color: gray;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	text-decoration: none;
}
.error {
	color: red;
}
.meta, #social .meta em {
	color: gray;
	font-style: italic;
}
.tab {
	color: gray;
	display: inline-block;
	font-size: 9pt;
	margin: 0 3px;
	padding: 0 2px;
	text-decoration: none;
}
