body {
	background-color: #f5f5f5;
	color: #222;
	font-family: "MS Pゴシック", "MS PGothic", "Mona", "Hiragino Kaku Gothic Pro";
	font-size: 10pt;
}

/* SPLIT LAYOUT */
html, body, #social, #game {
	height: 100%;
	padding: 0;
}
body {
	float: right;
	margin: 0 0 0 50%;
	width: 50%;
}
#social {
	float: left;
	margin: 0 0 0 -100%;
	width: 100%;
}
#log, #game {
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
}
#log {
	height: 93%;
	padding: 0.1em;
}
#system {
	padding: 0.5em;
	position: absolute;
	top: 0;
	right: 0;
}


/* GAME SIDE */
h1 {
	font-size: 16pt;
	margin: 0;
	padding: 0.2em;
}
#idCards li {
	background-color: white;
	border: 1px solid #eee;
	border-radius: 3px;
	display: inline-block;
	list-style: none;
	padding: 0.5em 1em;
	margin: 0.5em;
}

/* LOG SIDE */
time {
	color: #ddd;
}
#log {
	background: white;
}
#log li {
	list-style: none;
}
#social {
	position: relative;
}
#social input {
	width: 99%;
	border: solid 1px #ccc;
}
#unseenMessageHint {
	color: gray;
	position: absolute;
	right: 0.5em;
	top: 0.5em;
	text-decoration: none;
}
.error {
	color: red;
}
.meta {
	color: gray;
}
